footer {
	padding: 10px 0;
	h2 {
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		text-transform: uppercase;
		text-align: center;
		i {
			color: #d0021b;
			padding: 0 5px;
		}
	}
}