header.main {
	transition: all .7s ease-in-out;
	position: relative;
	overflow: hidden;
	height: 100vh;
	&:before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: url(../../../images/dots.png);
		background-repeat: repeat;
		background-position: 0 0;
		background-size: auto 100%;
		/*adjust s value for speed*/
		animation: animatedBackground 250s linear infinite;
	}
	&:after {
		width: 0%;
	    height: 0%;
	    content: "";
	    background: $brand-yellow;
	    position: absolute;
	    left: -150%;
	    right: 0;
	    top: -150%;
	    bottom: 0;
	    z-index: -1;
	    transition: all 1.5s ease-in-out;
	    transform: rotate(-45deg);
	}
	&.yellow {
		&:after {
			width: 400%;
			height: 400%;
		}
	}
	.top-bar {
		position: relative;
		z-index: 9;
		.small-logo-holder {
			float: left;
			margin-left: 25px;
    		margin-top: 25px;
			img {
			    max-width: 140px;
			}
		}
		.rsvp-button {
			float: right;
			margin-right: 25px;
    		margin-top: 25px;
			a {
				font-family: Montserrat;
				font-size: 16px;
				font-weight: 700;
				line-height: 24px;
				text-transform: uppercase;
				color: #fff;
				text-decoration: none;
				transition: all .3s ease-in-out;
				&:hover {
					color: #333;
				}
			}
		}
	}
	.mid-section {
		max-width: 1170px;
		margin: 0 auto;
		padding: 100px 0;
		overflow: hidden;
		.section {
			&.one {
				position: absolute;
			    width: 100%;
			    text-align: center;
			    left: 0;
			    right: 0;
			    top: 0;
			    bottom: 0;
			    z-index: 6;
			    animation: popIn .7s ease-in;
			    display: table;
			    margin: auto;
				img {
					max-width: 752px;
				}
			}
			&.two {
			    position: absolute;
			    width: 100%;
			    text-align: center;
			    left: 0;
			    right: 0;
			    top: 0;
			    bottom: 0;
			    margin: auto;
			    display: table;
			    z-index: 7;
			    opacity: 0;
				visibility: hidden;
				transition: all .7s ease-in-out;
				&.active {
    				opacity: 1;
    				visibility: visible;
    			}
				img {
					max-width: 476px;
				}
			}
			&.text {
				opacity: 0;
				visibility: hidden;
				left: 0;
			    right: 0;
			    top: 0;
			    bottom: 0;
			    margin: auto;
			    display: table;
			    width: 100%;
			    text-align: center;
			    z-index: 9;
    			position: absolute;
    			transition: all .7s ease-in-out;
    			&.active {
    				opacity: 1;
    				visibility: visible;
    			}
				.big-text {
					color: #ffffff;
					font-family: Montserrat;
					font-size: 90px;
					font-weight: 700;
					line-height: 100px;
					display: inline-block;
				    width: 48%;
				    text-align: left;
				    max-width: 376px;
				    vertical-align: middle;
				    @media (max-width: 768px) {
				    	width: 100%;
				    }
				}
				.small-text {
					color: #000000;
					font-family: Montserrat;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					display: inline-block;
				    width: 48%;
				    text-align: left;
				    max-width: 376px;
				    vertical-align: middle;
				    padding-top: 60px;
				    @media (max-width: 768px) {
				    	display: none;
				    }
					img {
						max-width: 176px;
					}
				}
			}
		}
	}
}
header.rsvp {
	height: 400px;
	background: $brand-yellow url(../../../images/dots.png) repeat scroll 0 0;
	width: 100%;
	display: table;
	img {
	    max-width: 140px;
	    position: absolute;
	    left: 25px;
	    top: 25px;
	}
	h1 {
	    display: table-cell;
	    text-align: center;
	    vertical-align: middle;
	    color: #ffffff;
		font-family: Montserrat;
		font-size: 48px;
		font-weight: 700;
	}
}
header.webinar {
    padding: 90px 0;
    background: $brand-yellow url(../../../images/dots.png) repeat scroll 0 0;
	width: 100%;
	img {
	    max-width: 140px;
	    position: absolute;
	    left: 25px;
	    top: 25px;
	}
	.title {
		width: 100%;
		max-width: 576px;
		margin: 0 auto;
		text-align: center;
		h1 {
			color: #ffffff;
			font-family: Montserrat;
			font-size: 48px;
			font-weight: 700;
		}
		h3 {
			font-family: Montserrat;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
		}
	}
}